.vscode/

# Ableton Grids
Grid/Ableton Grids/Reaper_Warp_Template_modified Project/Backup/*
Grid/Ableton Grids/Reaper_Warp_Template_modified Project/Reaper_Warp_Template_modified.als
Grid/Ableton Grids/abletonresults.json

# Another project